// Carousel.scss

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.carousel-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: opacity 0.3s ease-in-out;
}

.carousel-button {
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 1rem;
  transition: color 0.2s;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &:hover {
    color: #ffcc00; // Change color on hover
  }

  &:focus {
    outline: none;
  }
}
