@import "styleVariables.scss";

html,
body {
  background: #272727;
  // hide scrollbar
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  ::-webkit-scrollbar {
    display: none;
  }
  overflow-x: hidden;
  font-family: system-ui;
  color: white;
  scroll-behavior: smooth;
}

.flex {
  display: flex;
}

.scroll-text {
  margin-left: 25%;
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
p,
label {
  color: $textColor;
}

h1 {
  font-size: 8rem;
  margin-block: 1.5rem;
  font-weight: 700;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 8vw;
  text-align: center;
  font-weight: 100;
  margin-block: 0;

  @media screen and (max-width: 768px) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  margin-block: 1.5rem;
}

h4 {
  font-size: 3rem;
  text-align: center;
  font-weight: 100;
  margin-block: 1rem;
  margin-bottom: 2rem;
}

p {
  line-height: 2rem;
}

label {
  font-size: 1.5rem;
}

.section-line {
  width: 50vw;
  max-width:30rem;
  opacity: 0.5;
  height: 1px;
  border-bottom: 1px solid white;
  margin: auto;
  margin-block: 2rem;
}
